<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>It works!</h1>
	<form method="POST" action="/contents">
		<input type="text" name="content[title]">
		<input type="text" name="content[url]">
		<input type="text" name="content[category]">
		<input type="text" name="content[sentiment]">
		<input type="submit" value="Save!">
	</form>
</body>
</html>